* {
  margin: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
nav {
  background-color: aqua;
}
#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#container1,
#container2 {
  width: 390px;
  margin: auto;
  height: 390px;
  /* background-color: red; */
  /* overflow: hidden; */
  position: relative;
}

.case,
.case {
  float: left;
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 5rem;
  text-align: center;
  user-select: none;
  position: relative;
  z-index: 1000;
  /* background-color: rgb(13, 0, 138); */
  overflow: hidden;
}

.vlines,
.hlines {
  width: 130px;
  height: 100%;
  position: absolute;
  /* background-color: rosybrown; */
  left: 130px;
}

.hlines {
  transform: rotate(90deg);
}
.hlines::before,
.vlines::before,
.hlines::after,
.vlines::after {
  content: "";
  display: block;
  width: 10px;
  height: 0;
  position: absolute;
  z-index: 500;
  background-color: #663399;
  border-radius: 100px;
  animation: kiko 1.5s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.hlines::after,
.vlines::after {
  right: -5px;
}
.hlines::before,
.vlines::before {
  left: -5px;
}

@keyframes kiko {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.stroke-txt {
  color: inherit;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}
#gameOver {
  position: absolute;
  /* width: 500px;
    height: 300px; */
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.9);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* font-size: 4em; */
  font-weight: bold;
  /* transition-property: font-size; */
  /* transition-delay: 5s; */
  transition: all 0.4s ease-out;

  /* display: none; */
}
.old {
  width: 0;
  height: 0;
  font-size: 0;
}
.transform {
  width: 500px;
  height: 300px;
  font-size: 4em;
  box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.3);
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

select {
  border: none;
  outline: none;
  cursor: pointer;
}
.x {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x::before,
.x::after {
  content: "";
  width: 0px;
  height: 12px;
  display: block;
  background-color: blue;
  border-radius: 90px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  /* transform: rotate(45deg); */
}

.x::after {
  transform: rotate(45deg) translate(-50%, -50%);
  animation: ex 0.3s forwards;
}
.x::before {
  transform: rotate(-45deg) translate(-50%, -50%);
  animation: ex 0.3s forwards;
}

.o {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 12px solid rgb(0, 0, 255);
  border-radius: 50%;
  /* box-shadow: 38px -38px 0 12px rgba(0, 138, 0, 0.5),
    -38px -38px 0 12px rgba(0, 138, 0, 0.5),
    -38px 38px 0 12px rgba(0, 138, 0, 0.5),
    38px 38px 0 12px rgba(0, 138, 0, 0.5), 0 0 0 12px rgba(0, 138, 0, 0.5); */
  animation: ex 0.3s ease forwards;
}

@keyframes ex {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 80px;
  }
}
/* @keyframes border {
  0% {
    box-shadow: 38px -38px 0 12px rgba(0, 138, 0, 0.5),
      -38px -38px 0 12px rgba(0, 138, 0, 0.5),
      -38px 38px 0 12px rgba(0, 138, 0, 0.5),
      38px 38px 0 12px rgba(0, 138, 0, 0.5), 0 0 0 12px rgba(0, 138, 0, 0.5);
  }
  25% {
    box-shadow: 0px -80px 0 12px rgba(0, 138, 0, 0.5),
      -38px -38px 0 12px rgba(0, 138, 0, 0.5),
      -38px 38px 0 12px rgba(0, 138, 0, 0.5),
      38px 38px 0 12px rgba(0, 138, 0, 0.5), 0 0 0 12px red;
  }
  50% {
    box-shadow: 0px -80px 0 12px rgba(0, 138, 0, 0.5),
      -80px 0px 0 12px rgba(0, 138, 0, 0.5),
      -38px 38px 0 12px rgba(0, 138, 0, 0.5),
      38px 38px 0 12px rgba(0, 138, 0, 0.5), 0 0 0 12px blue;
  }
  75% {
    box-shadow: 0px -80px 0 12px rgba(0, 138, 0, 0.5),
      -80px 0px 0 12px rgba(0, 138, 0, 0.5),
      -0px 80px 0 12px rgba(0, 138, 0, 0.5),
      38px 38px 0 12px rgba(0, 138, 0, 0.5), 0 0 0 12px blue;
  }
  100% {
    box-shadow: 0px -80px 0 12px rgba(0, 138, 0, 0.5),
      -80px 0px 0 12px rgba(0, 138, 0, 0.5),
      0px 80px 0 12px rgba(0, 138, 0, 0.5),
      76px 25px 0 12px rgba(0, 138, 0, 0.5), 0 0 0 12px blue;
  }
} */
